apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "user": "my_user",
      "password": "my_password",
      "vsphere_server": "my_vsphere_server",
      "allow_unverified_ssl": true,
      "vim_keep_alive": 10,
      "api_timeout": 5
    }
